.home-card {
  flex: 0 0 auto;
  width: 280px;
  background-color: #fff;
  height: 255px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  scroll-snap-align: start;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.home-card-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.home-card-info {
  padding: 10px 12px;
  border: 2px solid transparent;
  border-top: none;
  border-radius: 0 0 12px 12px;
  transition: border 0.2s ease;
  height: 115px;
}

.home-card:hover .home-card-info {
  border-color: #ff4409;
}

.home-card:hover .home-card-info {
  border-color: #ff4409;
}

.home-card-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.home-card-desc {
  font-size: 13px;
  color: #666;
  margin: 4px 0;
}

.rating {
  color: #ff4409;
  font-weight: 500;
  font-size: 13px;
}

.icons {
  display: flex;
  font-size: 13px;
  gap: 10px;
}

.home-card-points {
  color: #ff4409;
  font-weight: 500;
  font-size: 13px;
  font-weight: bold;
}