.scan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f2f2f2;
    padding: 2rem;
}
  
.qr-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

  .qr-card h2 {
    font-size: 2rem;
  }
  
  .qr-sub {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .qr-note {
    font-size: 0.9rem;
    margin-top: 1.2rem;
  }
  
  .loading-text {
    text-align: center;
    margin-top: 3rem;
  }
  